body{
    margin: 100px;
    /*background: lightgray;*/
    background-image: url("../images/bg.jpg");
}

.main{
    background: white;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding: 50px;
    border: solid 1px;
}

.log_div{
    width: 300px;
    margin: 0 auto;
}

.login_form{
    text-align: center;
}

h3,h5{
    text-align: center;
}

.image{
    text-align: center;
}